@model LabExamMid.Models.Memory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm("Edit", "Memory", FormMethod.Post, new
    {
        enctype = "multipart/form-data"
    }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Update Memory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Story, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea cols="60" rows="5" required name="Story">@Model.Story</textarea>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoPath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" accept="image/*" name="Photo" placeholder="@Model.PhotoPath" />
            </div>
        </div>
        <input type="hidden" name="Date" value="@Model.Date" />
        <input type="hidden" name="Username" value="@Model.Username" />
        <input type="hidden" name="PhotoPath" value="@Model.PhotoPath"/>

        



        <div class="form-group">
            @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.Priority == 3)
                {
                    <input type="radio" name="Priority" value="3" checked />
                }
                else
                {
                    <input type="radio" name="Priority" value="3" />
                } High
                @if (Model.Priority == 2)
                {
                    <input type="radio" name="Priority" value="2" checked />
                }
                else
                {
                    <input type="radio" name="Priority" value="2" />
                } Moderate
                @if (Model.Priority == 1)
                {
                    <input type="radio" name="Priority" value="1" checked />
                }
                else
                {
                    <input type="radio" name="Priority" value="1"  />
                } Less important
            </div>

        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
